In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#file to load
infections_ts = "assets/data/infections_timeseries.csv"

#read infections timeseries data
infections = pd.read_csv(infections_ts)

#Split Combined_Key column into county and state columns
infections.dropna(inplace = True)
new = infections["Combined_Key"].str.split(" ", n = 1, expand = True) 
  
# making separate County column from new data frame 
infections["County"]= new[0] 
  
# making separate last name column from new data frame 
infections["State"]= new[1] 
  
# Dropping old Name columns 
#infections.drop(columns =["Combined_Key"], inplace = True)

#infections = pd.merge(new, infections, on="Combined_Key")
#new.head()
#display preview
infections.head()

,FIPS,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/21/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,County,State
0,1001,Autauga - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,1,4,6,6,6,6,Autauga,- Alabama - US
1,1003,Baldwin - Alabama - US,0,0,0,0,0,0,0,0,...,2,3,4,4,5,5,10,15,Baldwin,- Alabama - US
2,1005,Barbour - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Barbour,- Alabama - US
3,1007,Bibb - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Bibb,- Alabama - US
4,1009,Blount - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,1,2,4,5,5,Blount,- Alabama - US